@import url('https://fonts.googleapis.com/css2?family=Allura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* CONFIGURACIÓN GENERAL */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --yellow: #F6C10D;
    --green: #11823B;
    --blue: #0A2D56;
    --soft-green: #EAF7EE;
    --soft-green-two: #E3F3E7;
    --letter-white: #FFFFFF;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
img {
    width: 100%;
}
h1, h2, h3, h4, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
p {
    margin: 0;
}
/* Header */
.header {
    background-color: var(--blue);
    color: var(--letter-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
}
.header_logo {
    color: var(--yellow);
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.05)
    }
}
.logo_container {
    width: 8em;
    height: 3em;
    position: relative;
}
.logo_image {
    position: absolute;
}
.header_menu {
    display: flex;
    column-gap: 1em;
}
.menu_item {
    text-transform: uppercase;
    padding: 1em 0.5em;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover {
        color: var(--yellow);
        transform: scale(1.05)
    }
}

/* Sección Hero Image */
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section_hero {
    height: 30em;
    background-image: url("./assets/bus-hero-image.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.hero_title,
.hero_text {
    width: 100%;
    max-width: 300px;
    margin: 3em 1em;
    font-size: 1.7em;
}
.hero_title {
    font-family: "Roboto", sans-serif;
    margin-bottom: 0em;
}
.hero_cursive {
    font-family: "Ephesis", cursive;
    font-size: 2em;
    line-height: 0.6em;
    letter-spacing: 2px;
}
.hero_green {
    font-size: 2em;
    color: green;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.hero_green_educan {
    margin-bottom: -0.2em;
}
.hero_green_size {
    font-size: 1.3em;
    font-weight: 700;
}
.hero_line_container {
    width: 100%;
    max-width: 18em;
    position: relative;
}
.hero_line_image {
    position: absolute;
    top:-5.3em;
}
.hero_text {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding-left: 1em;
    line-height: 1.4;
}
.hero_text_bold {
    font-weight: 700;
}
