@import url('https://fonts.googleapis.com/css2?family=Allura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* CONFIGURACIÓN GENERAL */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --yellow: #f6c10d;
  --green: #11823b;
  --blue: #0a2d56;
  --soft-green: #eaf7ee;
  --soft-green-two: #e3f3e7;
  --letter-white: #ffffff;
  --letter-script: "Ephesis";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fdfbf3;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
p {
  margin: 0;
}
/* Header */
.header {
  background-color: var(--blue);
  color: var(--letter-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}
.header_logo {
  color: var(--yellow);
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
}
.logo_container {
  width: 8em;
  height: 3em;
  position: relative;
}
.logo_image {
  position: absolute;
}
.header_menu {
  display: flex;
  column-gap: 1em;
}
.menu_item {
  text-transform: uppercase;
  padding: 1em 0.5em;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    color: var(--yellow);
    transform: scale(1.05);
  }
}

/* Sección Hero Image */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section_hero {
  height: 30em;
  background-image: url('./assets/bus-hero-image.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero_title,
.hero_text {
  width: 100%;
  max-width: 300px;
  margin: 3em 1em;
  font-size: 1.7em;
}
.hero_title {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0em;
}
.hero_cursive {
  font-family: 'Ephesis', cursive;
  font-size: 2em;
  line-height: 0.6em;
  letter-spacing: 2px;
}
.hero_green {
  font-size: 2em;
  color: green;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.hero_green_educan {
  margin-bottom: -0.2em;
}
.hero_green_size {
  font-size: 1.3em;
  font-weight: 700;
}
.hero_line_container {
  width: 100%;
  max-width: 18em;
  position: relative;
}
.hero_line_image {
  position: absolute;
  top: -5.3em;
}
.hero_text {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  padding-left: 1em;
  line-height: 1.4;
}
.hero_text_bold {
  font-weight: 700;
}

.hero_message {
  font-size: 1em;
  color: var(--letter-white);
  background-color: var(--blue);
  width: 100%;
  max-width: 20em;
  border-radius: 1em;
  padding: 1.5em 1.5em 2em;
  margin-top: 1em;
  margin-left: 1em;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.02);
  } 
}
.hero_message_title {
  display: flex;
  gap: 1em;
  margin-bottom: 0.7em;
}
.hero_title_icon {
  font-size: 2em;
}
.hero_title_text {
  display: flex;
  flex-direction: column;
}
.hero_title_text_white,
.hero_title_text_yellow {
  text-transform: uppercase;

}
.hero_title_text_white {
}
.hero_title_text_yellow {
    color: var(--yellow);
    font-size: 0.9em;
}
.hero_paragraph {
    font-weight: 300;
    font-size: 0.95em;
    line-height: 1.4;
}

/* Sección fotos */
.experiences {
    padding-bottom: 7em;
    padding-top: 7em;
}
.experiences_title {
    color: transparent;
    position: absolute;
    z-index: -1000;
}
.experience_container {
    display: flex;
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 0.7em;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.05);
        & .experience_header {
            box-shadow:0 0 5em 3em #0a2d5634;
        } 
    }
    &:nth-child(1),
    &:nth-child(3) {
        position: relative;
        top: 5em
    }

}
.experience_header {
    width: 22em;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.5em solid white;
    overflow: hidden;
    box-shadow:0 0 10em 3em #0a2d562e;
    transition: box-shadow 0.3s;
    &>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.experience_body {
    display: flex;
    align-items: center;
    padding: 0.7em 1em 1em;
    border-radius: 20em;
    max-width: 16em;
    width: 100%;
    gap: 1em;
    position: absolute;
    bottom: -1em;
    background-color: var(--yellow);
} 
.experience_icon {
    font-size: 2em;
}
.experience_title {
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.1em;
}
.experience_paragraph {
    font-size: 1em;
    font-weight: 400;
}

/* Services */
.services {
  padding: 2em;
}
.services_title {
  background-color: var(--green);
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  padding: 0.6em 1.2em;
  border-radius: 20em;
  margin-bottom: 3em;
}
.service_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.service {
  display: flex;
  font-size: 0.95em;
  width: 100%;
  max-width: 8.5em;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0.8em 0.5em 1em;
  color: var(--green);
  border-right: 0.2em dotted var(--green);
  &:nth-last-child(1) {
    border: none;
  }
}
.service_header {
  font-size: 3em;
}
.service_text {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: 600;
  color: black;
}

.service_message {
  background-color: var(--blue);
  color: white;
  max-width: 18em;
  border-radius: 1em;
  padding: 1.2em 1em 3em;
  position: relative;
}
.service_message_thumb {
  font-size: 3em;
  rotate: -30deg;
  position: absolute;
  top: -0.5em;
  color: var(--yellow);
  & i {
    -webkit-text-stroke: 0.06em var(--blue);
  }
}
.service_message_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.service_message_title_white {
  font-family: var(--letter-script), cursive;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}
.service_message_title_yellow {
  text-transform: uppercase;
  text-align: center;
  color: var(--yellow);
}
.service_message_paragraph {
  line-height: 1.5;
  font-size: 1.05em;
  text-align: center;
  font-weight: 300;
}
.service_message_separator {
  position: absolute;
  bottom: -2.4em;
  left: 15%;
  width: 70%;
}

/* Contact */
.contact {
  padding: 3em;
  background-color: #fff;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
.contact_title {
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 1.4em;
  position: relative;
  z-index: 1;
}
.contact_separator {
  width: 22em;
  position: absolute;
  top: -1em;
  left: 0;
}
.contact_description {
  font-size: 1.1em;
  margin-bottom: 2em;
  position: relative;
  z-index: 1;
}
.form {
  display: grid;
  grid-template-columns: repeat(3, 12em);
  gap: 1em;
  position: relative;
  z-index: 1;
}
.input_message,
.input_subject,
.input,
.form_btn {
  padding: 0.7em;
  border-radius: 0.5em;
  border: 0.1em solid #9c9c9c;
}
.input {
  padding-left: 3em;
}
.input_subject {
  grid-row: 2 / 3;
  grid-column: 1 / span 3;
  font-weight: 500;
}
.input_message {
  grid-row: 3 / 4;
  grid-column: 1 / span 3;
  height: 10em;
}
.form_btn {
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 1 / span 3;
  transition: filter 0.1s;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
}
.form_btn_icon {
  font-size: 1.5em;
}